@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
   @apply bg-base-200;
   background-repeat: no-repeat;
   background-position: 50%;
}

.gutter.gutter-horizontal {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
   cursor: col-resize;
}

.muse-scrollbar {
   @apply scrollbar scrollbar-track-transparent scrollbar-thumb-base-300 hover:scrollbar-track-base-300 hover:scrollbar-thumb-primary;
}

html {
   overflow: hidden;
   height: 100%;
}

body {
   height: 100%;
   overflow: auto;
}
