@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
   @apply bg-base-100;
   background-repeat: no-repeat;
   background-position: 50%;
}

.gutter.gutter-horizontal {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
   cursor: col-resize;
}

.h-screen {
   height: 100vh; /* Fallback for browsers that do not support Custom Properties */
   height: calc(var(--vh, 1vh) * 100);
}

html {
   overflow: hidden;
   height: 100%;
}

body {
   height: 100%;
   overflow: auto;
}
